.p-page-chrome-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.p-page-chrome-left__image {
  display: block;
  width: min(100%, 232px);
  height: auto;
}

@media (max-width: 1023px) {
  .p-page-chrome-left {
    display: none;
  }
}

@media (min-width: 1024px) {
  .p-page-chrome-left {
    width: 232px;
  }
}

