---
import { CATEGORY_NAV_ITEMS } from '../data/category-nav';
import NavStackLink from './NavStackLink.astro';
import { LINE_URL } from '../data/links';
---

<div class="p-page-chrome-right">
  <nav class="p-page-chrome-right__nav" aria-label="ページ内リンク（PC）">
    <ul class="c-nav-stack c-nav-stack--compact">
      {CATEGORY_NAV_ITEMS.map((item) => (
        <li class="c-nav-stack__item">
          <NavStackLink href={item.href} label={item.label} compact />
        </li>
      ))}
    </ul>
  </nav>
  <div class="p-page-chrome-right__line">
    <a href={LINE_URL} class="p-page-chrome-right__line-btn">
      LINE 登録でお得な情報を受け取る
    </a>
  </div>
</div>
