<div class="p-page-chrome-left">
  <p class="p-page-chrome-left__title">
    <span class="p-page-chrome-left__brand">森半</span>
    <span class="p-page-chrome-left__event">母の日ギフト特集</span>
  </p>
</div>
