---
/**
 * Hero / First View
 * 母の日特集のメインビジュアル
 */
import { Image } from 'astro:assets';
import heroImage from '../assets/images/FV.jpg';
---

<section id="hero" class="p-hero">
  <Image src={heroImage} alt="母の日特集 Happy Mother's Day" class="p-hero__image" />
</section>
